<img id="pokedexImg" src="./assets/pokedeximg.png" alt="Imagem de uma Pokedex">
<div id="pokedex">
  <img (click)="trocarEstrela()" id="estrela" src="../assets/star.svg" alt="Imagem de uma estrela sem preenchimento">
  <div id="displayPokedex">
    <img id="pokemonImg" [src]= "shiny ? pokemonImgShiny : pokemonImg" alt="display Pokedex">
  </div>
  <div id="infoPokemon">
    <p>{{id}}</p>
    <p>{{nomePokemon}}</p>
  </div>
  
  <div id="pesquisa">
    <input placeholder="Pesquise pelo ID ou Nome" id="inputPesquisa" type="text" [(ngModel)]="inputPesquisa">
    <input (click)="getInfoPokemon()" [ngStyle]="{'box-shadow': mostrarSombraPesquisa ? '1px 1px rgb(0, 0, 0)' : 'none'}" id="enviarPesquisa" type="submit" value="Pesquisar">
  </div>

  <div id="buttons">
    <button (click)="getAnterior()" [ngClass]="{'semSombra': !mostrarSombraAnterior}">Anterior</button>
    <button (click)="getProximo()" [ngClass]="{'semSombra': !mostrarSombraProximo}">Próximo</button>
  </div>
</div>