@media only screen and (max-width: 410px) {
    #pokedexImg{
        width: 350px;
    }

    #pokedex{
        width: 295px;
    }

    #displayPokedex{
        width: 238px;
        height: 140px;
        bottom: 26px;
    }

    #pokemonImg{
        height: 160px;
    }

    #infoPokemon{
        bottom: 235px;
    }

    #pesquisa{
        width: 250px;
    }

    #buttons{
        width: 260px;
    }

    button{
        width: 100px;
    }
}