@media only screen and (max-width: 470px) {
    #pokedexImg{
        width: 350px;
    }

    #pokedex{
        width: 293px;
        height: 525px;
        right: 15.5px;
        padding-right: 2px;
    }

    #estrela{
        top: 54px;
        right: 40px;
        width: 38px;
    }

    #displayPokedex{
        width: 210px;
        height: 140px;
        bottom: 2px;
    }

    #pokemonImg{
        height: 160px;
    }

    #infoPokemon{
        font-size: 1.2em;
        height: 44px;
        bottom: 3px;
    }

    #pesquisa{
        top: 36px;
        width: 240px;
        height: 26px;
    }

    #inputPesquisa{
        width: 67%;
        font-size: 0.76em;
        padding-left: 5px;
    }

    #enviarPesquisa{
        width: 25%;
        font-size: 0.66em;
    }

    #buttons{
        width: 240px;
        top: 96px;
    }

    button{
        width: 108px;
        height: 30px;
        font-size: 0.8em;
    }
}